! terminal colors
! special
*.foreground:   #ffffff
*.background:   #111111
*.cursorColor:  #fa390f

! black
*.color0:       #131313
*.color8:       #d1d1d1

! red
*.color1:       #2d2d2d
*.color9:       #d2c3ad

! green
*.color2:       #4c3a3d
*.color10:      #df9767

! yellow
*.color3:       #4e4e4e
*.color11:      #e1e1e1

! blue
*.color4:       #6f6f6f
*.color12:      #a6472a

! magenta
*.color5:       #909090
*.color13:      #ed4b19

! cyan
*.color6:       #aaa998
*.color14:      #f2361e

! white
*.color7:       #b1b1b1
*.color15:      #fa390f

! scrollbar style
URxvt.scrollBar: false

! font
*.font: -lucy-tewi2a-medium-r-normal--11-80-100-100-c-60-iso10646-1

! perl
URxvt.perl-ext-common: default,matcher,tabbedex,vtwheel

! clickable URLs
!URxvt.url-launcher: /usr/bin/icecat
!URxvt.matcher.button: 1
!URxvt.matcher.rend.0: Uline Bold fg5

! tabs
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0
URxvt.tabbed.autohide: true
URxvt.tabbed.reopen-on-close: yes

! Geometry
URxvt.geometry: 120x30

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.font: tewi2a 9
rofi.color-enabled: true
rofi.color-window: #111111, #131313, #111111
rofi.color-normal: #111111, #ffffff, #111111, #d1d1d1, #111111
rofi.color-active: #111111, #d1d1d1, #111111, #d1d1d1, #111111
rofi.color-urgent: #ed4b19, #111111, #ed4b19, #f2361e, #111111
